extends ./master.pug

block script
  script(language="javascript" type="text/javascript" src="/javascripts/choose_password.js").

block container
  #error.error

  h2
    | 重置密码
    span#app
    noscript 很抱歉，该页面无法使用 javascript

  form#form(action="#" method="POST")
    span 新密码
    i (只能输入字母、数字、和字符!@#$%^&*-_, 长度 6-24 位)
    input#password(name="new_password" type="password" required )
    br
    span 确认密码
    input#password_confirm(name="confirm_new_password" type="password" required )
    input(name="utf-8" type="hidden" value="✓")
    input#username(name="username" type="hidden")
    input#token(name="token" type="hidden")
    div(style="text-align:right;padding-top:12px;")
      button(type="submit") 修改密码



